<ion-view view-title="List">
    <ion-content class="padding">
        <div>
            <p class="large-text">Where did you park?</p>
            <label class="item item-input">
              <span class="input-label">Search</span>
              <input type="text" ng-model="parkingSpot.concatName">
            </label>
            <h3 ng-if="!schedule">Loading</h3>
            <ion-list ng-if="schedule" >
                <ion-item ng-repeat="street in schedule | filter: parkingSpot track by street.index" ng-click="enterParkingSpot(street)"><span ng-bind="street.concatName"></span>, <span ng-bind="street.property3"></span>: <p ng-bind="street.sweepDate.sweepDate"></p></ion-item>
            </ion-list>

        </div>

    </ion-content>
</ion-view>