**************LOCATE
<ion-view title="Your Parking Spot">
    <ion-content>
        <ion-item>
            <div id="map-canvas" style="height: 300px"></div>
             <a href="#/list">Rather choose from a list?</a>
        </ion-item>
        <ion-item >
            <h3> Your Current Location:</h3>
            
            <p>{{address.street}}, {{address.side}} side* </p>
            
            <div> *Geolocation is sometimes a few feet off, so please help us out by confirming which side your car is on (hint: look at the house numbers). </div>
            <a ng-click="acceptSpot()">Yep, I'm on the {{address.side}} side</a>
            <br/>
            <a ng-click="chooseOppositeSide()">Nope, other side!</a>
        </ion-item>
    </ion-content>
</ion-view>