<ion-view view-title="login">
    <ion-content>
        <form>
            <fieldset>
                <div class="form-group">
                <input autocomplete="off" autofocus class="" name="username" placeholder="Username" type="text"/>
                </div>
                <div class="form-group">
                <input class="" name="password" placeholder="Password" type="password"/>
                </div>
                <div class="">
                <button class="btn btn-default"  ng-click="login()" type="submit">Log In</button>
                </div>
            </fieldset>
        </form>
    </ion-content>
</ion-view>