.locate--loading-spinner {
	width: 300px;
    display: block;
    margin: auto;
}

.box {
	border-bottom: 1px solid #444;
}

#map-canvas {
	background: transparent url(../img/Loading_icon.gif) no-repeat center center;
}

/*some utility classes
*/
.b {
	font-weight: bold;
}

.u {
	text-decoration: underline;
}

.i {
	text-decoration: italic;
}

.text-deco-none {
	text-decoration: none;
}

.wrap-text {
	text-overflow: wrap;
	white-space: normal;
}

.large-text {
	/*the important here to override ionic's default style*/
	font-size: 16px!important;
}

.mb10 {
	/*the important here to override ionic's default style*/
	margin-bottom: 10px!important;
}

.padding {
	padding: 10px;
}
.white {
	color: #fff;
}
